{% extends "marketplace/base.html" %}


{% block head %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SteamStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'games' %}">Games</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'market' %}">Marketplace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listings' %}">My Listings</a>
            </li>
        </ul>

        <div class="pull-right">
            <ul class="nav pull-right">
                <li class="dropdown"><a href="#" style="color: #ffff" class="dropdown-toggle"
                        data-toggle="dropdown">Welcome, {{request.user.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a style="color: red; padding:10px;" href="/logout"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% endblock head %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <!-- Wallet Card -->
        <div class="col d-flex p-2">
            <div class="col">

                <div class="card ">
                    <h4 class="card-header">
                        <bold>My Wallet</bold>
                    </h4>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-3">
                                <i style="padding:30px;" class="fa fa-wallet fa-5x"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title text-bold">Wallet Balance: </h5>
                                <strong>
                                    <h1>
                                        <small>INR.</small> {{ balance }}
                                    </h1>
                                </strong>
                                <a href="#" class="btn btn-primary">View Details</a>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Inventory Jumbo Card -->
        <div class="col d-flex p-2">
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        <h4> My Inventory </h4>
                    </div>
                    <div class="card-body">

                        <div class="row">

                            {% for item in items %}
                            <!-- Item Card -->
                            <div class="col-sm-4">
                                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">{{ item.gameName }}</div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.itemName }}</h5>
                                        <!-- <p class="card-text">{{item.itemDescription}}</p> -->
                                        <!-- <a href="market/sell?sell_thing={{item.itemName}}" class="btn btn-primary">Sell</a> -->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
    

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- Django Flash Message Code  -->
      {% if messages %}
      <ul class="messages" style="list-style-type:none">
          {% for msg in messages %}       
          <li>
              <div class="alert alert-{{msg.level_tag}}" role="alert">
              {{msg.message}}
              </div>
          </li>
          {% endfor %}
      </ul>
      {% endif %}

    <div class="row">

        <div class="col">


            <!-- <table class="table table-striped table-bordered" id="example">

                </table> -->


            <table class="table">
                <thead>
                    <h1>Sell Orders</h1>
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Item</th>
                        <th scope="col">Seller</th>
                        <th scope="col">Date Listed</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Price(INR)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr> -->
                    {% for order in sell %}
                    <form method="GET" action="market/buy"
                    <tr>
                            <input type="hidden" name="buy_thing" value="{{order.itemName}}">
                            <input type="hidden" name="price" value="{{order.sellingPrice}}">
                            <input type="hidden" name="seller" value="{{order.username_id}}">
                            <th scope="col">{{order.itemGame}}</th>
                            <th scope="col">{{order.itemName}}</th>
                            <th scope="col">{{order.username_id}}</th>
                            <th scope="col">{{order.listingDate}}</th>
                            <th scope="col">{{order.itemCondition}}</th>
                            <th scope="col">{{order.sellingPrice}}</th>
                            <th scope="col"><button type="submit" class="btn btn-primary">Buy</button></th>
            

                    </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <h1>Buy Orders</h1>
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Item</th>
                        <th scope="col">Seller</th>
                        <th scope="col">Date Listed</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Price(INR)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr> -->
                    {% for border in buy %}
                    <tr>

                            <th scope="col">{{border.itemGame}}</th>
                            <th scope="col">{{border.itemName}}</th>
                            <th scope="col">{{border.username_id}}</th>
                            <th scope="col">{{border.listingDate}}</th>
                            <th scope="col">{{border.itemCondition}}</th>
                            <th scope="col">{{border.buyPrice}}</th>
            

                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
    <!-- <script type="text/javascript" language="javascript" class="init">
                $(document).ready(function () {
                    $('#example').dataTable({
                        "processing": true,
                        "ajax": {
                            "processing": true,
                            
                            Chaange to market-table if using again 
                            "url": "{% url 'market' %}",
                            "dataSrc": ""
                        },

                        "columns": [
                            { "data": "fields.itemName" },
                            { "data": "fields.itemDescription" },
                            { "data": "<a href='fields.itemDescription'>TEST</a>" },
                        ]
                    });
                });
            </script> -->
    {% endblock content %}